
/* 

DayPilot Scheduler Theme 
http://themes.daypilot.org/scheduler/theme/5e6mql

Compatibility:

DayPilot Pro for JavaScript 8.0
http://javascript.daypilot.org/

DayPilot Pro for ASP.NET WebForms 8.0
http://www.daypilot.org/

DayPilot Pro for ASP.NET MVC 8.0
http://mvc.daypilot.org/

DayPilot Pro for Java 8.0
http://java.daypilot.org/

DayPilot Lite for ASP.NET WebForms 5.0
http://www.daypilot.org/daypilot-lite/

*/

.custom_main 
{
	border: 1px solid #a1c6f0;
}

.custom_main, .custom_main td 
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.custom_event { 
	
}

.custom_event { 
	color: #666666;
}

.custom_event_inner { 
	position: absolute;
	
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	
	margin: 0px;
	overflow: hidden;

	background-color: #d5e9f0;
	
	background: -webkit-gradient(linear, left top, left bottom, from(#dcecf2), to(#cee6ee));  
	background: -webkit-linear-gradient(top, #dcecf2 0%, #cee6ee);
	background: -moz-linear-gradient(top, #dcecf2 0%, #cee6ee);
	background: -ms-linear-gradient(top, #dcecf2 0%, #cee6ee);
	background: -o-linear-gradient(top, #dcecf2 0%, #cee6ee);
	background: linear-gradient(top, #dcecf2 0%, #cee6ee);
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#dcecf2", endColorStr="#cee6ee");
	
	
	
	padding: 2px;
	
	
	padding-top: 5px;
	
	
	border: 1px solid #cccccc;
	
	
	
	
	
}

.custom_timeheadergroup,
.custom_timeheadercol
{
	color: #666666;
	background: #eeeeee;
	
	background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#e9e9e9));
	background: -webkit-linear-gradient(top, #f3f3f3 0%, #e9e9e9);
	background: -moz-linear-gradient(top, #f3f3f3 0%, #e9e9e9);
	background: -ms-linear-gradient(top, #f3f3f3 0%, #e9e9e9);
	background: -o-linear-gradient(top, #f3f3f3 0%, #e9e9e9);
	background: linear-gradient(top, #f3f3f3 0%, #e9e9e9);
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#f3f3f3", endColorStr="#e9e9e9");
	
}

.custom_rowheader,
.custom_corner
{
	color: #666666;
	background: #eeeeee;
	
	background: -webkit-gradient(linear, left top, right top, from(#f3f3f3), to(#e9e9e9));
	background: -webkit-linear-gradient(left, #f3f3f3 0%, #e9e9e9);
	background: -moz-linear-gradient(left, #f3f3f3 0%, #e9e9e9);
	background: -ms-linear-gradient(left, #f3f3f3 0%, #e9e9e9);
	background: -o-linear-gradient(left, #f3f3f3 0%, #e9e9e9);
	background: linear-gradient(left, #f3f3f3 0%, #e9e9e9);
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#f3f3f3", endColorStr="#e9e9e9", GradientType=1);
	
}

.custom_rowheader_inner {
	padding: 2px;
}

.custom_timeheadergroup,
.custom_timeheadercol
{
	text-align: center;
}

.custom_timeheadergroup_inner,
.custom_timeheadercol_inner
{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	border-right: 1px solid #a1c6f0;
	padding: 2px;
}

.custom_timeheadergroup_inner {
	border-bottom: 1px solid #a1c6f0;
}

.custom_divider,
.custom_splitter,
.custom_divider_horizontal,
.custom_resourcedivider 
{
	background-color: #a1c6f0;
}

.custom_matrix_vertical_line,
.custom_matrix_horizontal_line 
{
	background-color: #eeeeee;
}

.custom_cell 
{
	background: #f9f9f9;
}

.custom_cell.custom_cell_business 
{
	background: #ffffff;
}

.custom_message 
{
	padding: 10px;
	opacity: 0.9;
	filter: alpha(opacity=90);
	
	color: #ffffff;
	background: #17cdff;
	
	background: -webkit-gradient(linear, left top, left bottom, from(#33d3ff), to(#00c4fa));
	background: -webkit-linear-gradient(top, #33d3ff 0%, #00c4fa);
	background: -moz-linear-gradient(top, #33d3ff 0%, #00c4fa);
	background: -ms-linear-gradient(top, #33d3ff 0%, #00c4fa);
	background: -o-linear-gradient(top, #33d3ff 0%, #00c4fa);
	background: linear-gradient(top, #33d3ff 0%, #00c4fa);
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#33d3ff", endColorStr="#00c4fa");
	
}

.custom_shadow_inner 
{
	background-color: #666666;
	opacity: 0.5;
	filter: alpha(opacity=50);
	height: 100%;
	
}


.custom_event_bar
{
	top: 0px;
	left: 0px;
	right: 0px;
	height: 3px;
	background-color: #6ab1eb;
}

.custom_event_bar_inner  
{
	position: absolute;
	height: 3px;
	background-color: #1066a8;
}


.custom_matrix_vertical_break 
{
	background-color: #000;
}

.custom_cellparent {
}

.custom_tree_image_no_children {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAIAAABv85FHAAAAKXRFWHRDcmVhdGlvbiBUaW1lAHDhIDMwIEkgMjAwOSAwODo0NjozMSArMDEwMClDkt4AAAAHdElNRQfZAR4HLzEyzsCJAAAACXBIWXMAAA7CAAAOwgEVKEqAAAAABGdBTUEAALGPC/xhBQAAADBJREFUeNpjrK6s5uTl/P75OybJ0NLW8h8bAIozgeSxAaA4E1A7VjmgOL31MeLxHwCeXUT0WkFMKAAAAABJRU5ErkJggg==);
}
.custom_tree_image_expand {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAIAAABv85FHAAAAKXRFWHRDcmVhdGlvbiBUaW1lAHDhIDMwIEkgMjAwOSAwODo0NjozMSArMDEwMClDkt4AAAAHdElNRQfZAR4HLyUoFBT0AAAACXBIWXMAAA7CAAAOwgEVKEqAAAAABGdBTUEAALGPC/xhBQAAAFJJREFUeNpjrK6s5uTl/P75OybJ0NLW8h8bAIozgeRhgJGREc4GijMBtTNgA0BxFog+uA4IA2gmUJwFog/IgUhAGBB9KPYhA3T74Jog+hjx+A8A1KRQ+AN5vcwAAAAASUVORK5CYII=);
}
.custom_tree_image_collapse {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAIAAABv85FHAAAAKXRFWHRDcmVhdGlvbiBUaW1lAHDhIDMwIEkgMjAwOSAwODo0NjozMSArMDEwMClDkt4AAAAHdElNRQfZAR4HLxB+p9DXAAAACXBIWXMAAA7CAAAOwgEVKEqAAAAABGdBTUEAALGPC/xhBQAAAENJREFUeNpjrK6s5uTl/P75OybJ0NLW8h8bAIozgeSxAaA4E1A7VjmgOAtEHyMjI7IE0EygOAtEH5CDqY9c+xjx+A8ANndK9WaZlP4AAAAASUVORK5CYII=);
}

.custom_columnheader 
{
}

.custom_columnheader_inner {
    font-weight: bold;
}

.custom_columnheader_cell {
    background: -webkit-gradient(linear, left top, right top, from(#eeeeee), to(#dddddd));
    background: -moz-linear-gradient(left, #eeeeee 0%, #dddddd);
    background: -ms-linear-gradient(left, #eeeeee 0%, #dddddd);
    background: -webkit-linear-gradient(left, #eeeeee 0%, #dddddd);
    background: linear-gradient(left, #eeeeee 0%, #dddddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr="#eeeeee", endColorStr="#dddddd", GradientType=1);
}

.custom_columnheader_splitter {
    background-color: #666;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.custom_columnheader_cell_inner {
    padding: 2px;   
}

.custom_timeheader_float_inner {
	padding: 2px;
}

.custom_event_float_inner {
	
    padding: 6px 2px 2px 7px;
	
	
}

.custom_event_float_inner:after {
    content:"";
    border-color: transparent #666666 transparent transparent;
    border-style:solid;
    border-width:5px;
    width:0;
    height:0;
    position:absolute;
	
    top:10px;
	
	
    left:-4px;
}

.custom_event_move_left {
	box-sizing: border-box; 
	padding:2px;
	border:1px solid #ccc;
	background:#fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));
	background: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee);
	background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee);
	background: -ms-linear-gradient(top, #ffffff 0%, #eeeeee);
	background: -o-linear-gradient(top, #ffffff 0%, #eeeeee);
	background: linear-gradient(top, #ffffff 0%, #eeeeee);
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#ffffff", endColorStr="#eeeeee");
}

.custom_event_move_right {
	box-sizing: border-box; 
	padding:2px;
	border:1px solid #ccc;
	background:#fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));
	background: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee);
	background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee);
	background: -ms-linear-gradient(top, #ffffff 0%, #eeeeee);
	background: -o-linear-gradient(top, #ffffff 0%, #eeeeee);
	background: linear-gradient(top, #ffffff 0%, #eeeeee);
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#ffffff", endColorStr="#eeeeee");
}

.custom_event_delete {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAAI5JREFUKFNtkLERgCAMRbmzdK8s4gAUlhYOYEHJEJYOYOEwDmGBPxC4kOPfvePy84MGR0RJ2N1A8H3N6DATwSQ57m2ql8NBG+AEM7D+UW+wjdfUPgerYNgB5gOLRHqhcasg84C2QxPMtrUhSqQIhg7ypy9VM2EUZPI/4rQ7rGxqo9sadTegw+UdjeDLAKUfhbaQUVPIfJYAAAAASUVORK5CYII=) center center no-repeat; opacity: 0.6; -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=60)';
	cursor: pointer;
}

.custom_event_delete:hover {
	opacity: 1;
	-ms-filter: none;
}

.custom_rowmove_handle { background-repeat: no-repeat; background-position: center center; background-color: #ccc; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAKCAYAAACT+/8OAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAAClJREFUGFdj+P//P4O9vX2Bg4NDP4gNFgBytgPxebgAMsYuQGMz/jMAAFsTZDPYJlDHAAAAAElFTkSuQmCC); cursor: move; }
.custom_rowmove_source { background-color: black; opacity: 0.2; }
.custom_rowmove_position_before, .custom_rowmove_position_after { background-color: #999; height: 2px; }
.custom_rowmove_position_child { margin-left: 10px; background-color: #999; height: 2px; }
.custom_rowmove_position_child:before { content: '+'; color: #999; position: absolute; top: -8px; left: -10px; }
.custom_rowmove_position_forbidden { background-color: red; height: 2px; margin-left: 10px; }
.custom_rowmove_position_forbidden:before { content: 'x'; color: red; position: absolute; top: -8px; left: -10px; }

.custom_link_horizontal { border-bottom-style: solid; border-bottom-color: red }
.custom_link_vertical { border-right-style: solid; border-right-color: red }
.custom_link_arrow_right:before { content: ''; border-width: 6px; border-color: transparent transparent transparent red; border-style: solid; width: 0px; height:0px; position: absolute; }
.custom_link_arrow_left:before { content: ''; border-width: 6px; border-color: transparent red transparent transparent; border-style: solid; width: 0px; height:0px; position: absolute; }
.custom_link_arrow_down:before { content: ''; border-width: 6px; border-color: red transparent transparent transparent; border-style: solid; width: 0px; height:0px; position: absolute; }

.custom_shadow_overlap .custom_shadow_inner { background-color: red; }
.custom_overlay { background-color: gray; opacity: 0.5; filter: alpha(opacity=50); }

.custom_event_group { box-sizing: border-box; font-size:12px; color:#666; padding:2px 2px 2px 2px; overflow:hidden; border:1px solid #ccc; background-color: #fff; }

.custom_header_icon { box-sizing: border-box; border: 1px solid #a1c6f0; background-color: #eeeeee; color: #666666; }
.custom_header_icon:hover { background-color: #e9e9e9; }
.custom_header_icon_hide:before { content: '\00AB'; }
.custom_header_icon_show:before { content: '\00BB'; }

.custom_row_new .custom_rowheader_inner { cursor: text; background-position: 0px 5px; background-repeat: no-repeat; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABUSURBVChTY0ACslAaK2CC0iCQDMSlECYmQFYIAl1AjFUxukIQwKoYm0IQwFCMSyEIaEJpMMClcD4Qp0CYEIBNIUzRPzAPCtAVYlWEDgyAGIdTGBgAbqEJYyjqa3oAAAAASUVORK5CYII=); }
.custom_row_new .custom_rowheader_inner:hover { background: white; }
.custom_rowheader textarea { padding: 3px; }
.custom_rowheader_scroll { cursor: default; }

.custom_shadow_forbidden .custom_shadow_inner { background-color: red; }

.custom_event_moving_source { opacity: 0.5; filter: alpha(opacity=50); }
