@model IEnumerable<Medica.Especialidades>

@*<table class="table">*@
@foreach (var item in Model) {
    @*<tr>*@
        @*<td>*@
    <p>   @Html.DisplayFor(modelItem => item.Nombre)  </p>
        @*</td>*@
    @*</tr>*@
}
@*</table>*@
