@using DayPilot.Web.Mvc;
@using DayPilot.Web.Mvc.Events.Calendar
@using DayPilot.Web.Mvc.Enums.Navigator
@using ViewType = DayPilot.Web.Mvc.Enums.Calendar.ViewType

@{
    ViewBag.Title = "Home";
}

<h2>Inicio</h2>
<body>
    <div>
        <input type="text" name="basic_example_1" id="basic_example_1" value="" class="date-time-picker">
    </div>
<pre>$('#basic_example_1').datetimepicker();
</pre>
</body>

